/* You can add global styles to this file, and also import other style files */
// Standard CSS normalize, comment out if not required or using a different module
@import "~minireset.css/minireset";

/* See: https://www.infragistics.com/products/ignite-ui-angular/angular/components/themes.html */
@import "~igniteui-angular/lib/core/styles/themes/index";

$primary: #731963 !default;
$secondary: #ce5712 !default;

$app-palette: igx-palette($primary, $secondary);


/* autoprefixer grid: on */

@include igx-core();
@include igx-theme($app-palette);


$fv-standard-black: #34495E;
$fv-standard-white: #ffffff;
$fv-standard-cream: #fbfbfb;
$fv-standard-gray: #e5e5e5;
$fv-standard-blue: rgb(31, 186, 214);
// fonts
$fv-standard-font-size: 12px;
$fv-medium-font-size: 13px;
$fv-large-font-size: 15px;
$fv-standard-font-weigth: bold;
$fv-standard-font-family: 'Open Sans',
sans-serif;


html,
body {
  height: 100%;
}

.igx-dialog__window {
  min-width: 30rem !important;
  min-height: 30rem !important;
  padding: 3rem !important;
}

// .content p {
//   margin: 15px;
// }

* {
  padding: 0 !important;
  margin: 0 !important;
}

.igx-grid__th-title {
  text-align: center;
}

// CSS Reset, comment out if not required or using a different module
// @import '~minireset.css/minireset';
@import '~igniteui-angular/lib/core/styles/themes/index';
@include igx-core();
@include igx-theme($default-palette);

/* autoprefixer grid: on */
html,
body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.sample-wrapper {
  width: inherit;
  position: relative;
  height: 100%;
  margin: 0 auto;
  background: transparent;
}

.sample-content {
  display: flex;
  flex-grow: 1;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
  -webkit-animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  -moz-animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.sample-column {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 25%;
  align-content: flex-start;
  margin: 16px;
  min-width: 280px;
}

.sample-title {
  color: #0375be;
  margin-bottom: 12px;
  margin-top: 12px;
}

.sample-title .light {
  font-weight: 400;
}

.sample-description {
  font-size: 14px;
  font-weight: normal;
  color: #717171;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #fdf8f0;
  }

  100% {
    background: #f6e7ec;
  }
}

@keyframes color-change-2x {
  0% {
    background: #fdf8f0;
  }

  100% {
    background: #f6e7ec;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.headerAlignSyle {
  text-align: right !important;
}

$green-palette: igx-palette($primary: #09f, $secondary: #72da67, $surface: #333);

.fin-dark-theme {
  @include igx-dark-theme($green-palette);
  background: #333;

  ::-moz-placeholder {
    opacity: 1;
  }
}

.dark-theme {
  background: #333;
  color: #fff;
  @include igx-dark-theme($green-palette);

  .grid-chart-contextmenu-wrapper {
    @include igx-fluent-dark-theme($fluent-excel-palette);
  }
}

pagination-controls {
  min-width: max-content;

  ul.ngx-pagination {
    margin: 0;
  }
}

.mini-pagination {
  position: absolute;
  bottom: 7%;
  // font-size: 10px;
  right: 1.6%;

  i.fas.fa-redo-alt {
    font-size: 1.6vmax;
    cursor: pointer;
  }

  button {
    height: calc(1.75rem + 2px);
  }

  ul.ngx-pagination {
    padding: 0;
    margin-right: .8rem;
  }
}

.comments-pagination {
  position: absolute;
  bottom: 7%;
  font-size: 10px !important;

  span {
    font-size: 10px !important;
  }

  i.fas.fa-redo-alt {
    font-size: 1.6vmax;
    cursor: pointer;
  }

  button {
    height: calc(1.75rem + 2px);
  }

  ul.ngx-pagination {
    padding: 0;
    margin-right: .8rem;
  }
}

.pagination {
  position: absolute;
  bottom: 7%;
  font-size: 16px !important;
  right: 1.6%;

  i.fas.fa-redo-alt {
    font-size: 1.6vmax;
    cursor: pointer;
  }

  button {
    height: calc(1.75rem + 2px);
  }

  ul.ngx-pagination {
    padding: 0;
    margin-right: .8rem;
  }
}

.select-pagination {
  ul.ngx-pagination {
    padding: 0;
    font-size: 10px;
  }
}

.ngx-pagination .current {
  background: $fv-standard-blue !important;
}
